Package: apper-data
Source: apper
Version: 1.0.0-5
Architecture: all
Maintainer: Matthias Klumpp <mak@debian.org>
Installed-Size: 3383
Section: kde
Priority: optional
Homepage: https://www.kde.org/applications/system/apper/
Description: KDE package management tool using PackageKit (data files)
 PackageKit allows performing simple software management tasks over a DBus
 interface  e.g. refreshing the cache, updating, installing and removing
 software packages or searching for multimedia codecs and file handlers.
 .
 This package provides data files for Apper, the
 KDE package manager based on PackageKit.
