Source: apper
Section: kde
Priority: optional
Maintainer: Matthias Klumpp <matthias@tenstral.net>
Build-Depends: chrpath,
               cmake,
               debhelper (>= 9.0.0),
               docbook2x,
               kde-workspace-dev (>= 4:4.6),
               kdelibs5-dev (>= 4:4.6),
               libdbus-1-dev,
               libdebconf-kde-dev,
               libpackagekit-qt2-dev (>= 0.6.18),
               pkg-kde-tools (>= 0.9.2)
Standards-Version: 3.9.3
Homepage: http://kde-apps.org/content/show.php/Apper?content=84745
Vcs-Git: git://anonscm.debian.org/pkg-packagekit/apper.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-packagekit/apper.git

Package: apper
Architecture: any
Depends: packagekit (>= 0.7.4),
         polkit-kde-1 | policykit-1-gnome,
         apper-data (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: app-install-data
Suggests: debconf-kde-helper,
          software-properties-kde
Replaces: kpackagekit
Breaks: kpackagekit (<< 0.7.0~20111008-0ubuntu1~)
Description: KDE package management tool using PackageKit
 PackageKit allows performing simple software management tasks over a DBus
 interface  e.g. refreshing the cache, updating, installing and removing
 software packages or searching for multimedia codecs and file handlers.
 .
 This package provides a KDE package manager based on PackageKit,
 as well as package management support for the KDE desktop.

Package: apper-data
Architecture: all
Description: KDE package management tool using PackageKit (data files)
 PackageKit allows performing simple software management tasks over a DBus
 interface  e.g. refreshing the cache, updating, installing and removing
 software packages or searching for multimedia codecs and file handlers.
 .
 This package provides provides the data files for Apper, the
 KDE package manager based on PackageKit,

Package: apper-dbg
Section: debug
Architecture: any
Priority: extra
Depends: apper (= ${binary:Version}),
         ${misc:Depends}
Recommends: kdelibs5-dbg
Description: Debugging symbols for Apper
 Apper ist a graphical package manager UI based on the PackageKit
 framework as well as a KDE implementation of the PackageKit session
 installer interface.
 .
 This package contains debugging symbols for Apper.
 When Apper crashes, in most cases this package is
 needed to get a backtrace that is useful for developers. If you have
 experienced an Apper crash without this package
 installed, please install it, try to reproduce the problem and fill a bug
 report with a new backtrace attached.
